.wd-rounded-corners-all-around {
    border-radius: 50px;
   background-color: lightgray;
   color:darkgray;
   bottom: 30px;
   left: 30px;
   width: 100%;
   height: 20px;

   }
  

.wd-mg{
    width: 15px;
   height: 15px;
   position: relative;
   top: -18px;
   left: 5px;
   background-color: lightgray;
   color: lightgray;
   opacity:5 ;
   
}
.wd-div1{
    width: 95%;
    float:left;
}

.wd-set{
    width: 15px;
    height: 15px;
    bottom: 30px;
   left: 30px;
}

.wd-div2{
    Text-align:center;
    Width:5%;
    float:left;
    font-size: x-large;
}

.wd-float-left-right{
display: inline;
width: 100%;
margin: 0.9%;
/* border-style: solid; */
}

.wd-div3{
    float: left;
    border: "1mm";
    width: 100%;
    /* border-style: solid; */
}

.wd-list-div1{
    display: inline;
    font-weight: bold;
    width: 90%;
    margin: 5%;
    color: black;
    border-bottom: blue solid;
    padding: 0.7%;
    /* border-style: dashed; */
}

.wd-list-div2{
    display: inline;
    font-weight: bold;
    color: gray;
    width: 90%;
    margin: 5%;
    padding: 0.7%;
}

.wd-list-div3{
    display: inline;
    font-weight: bold;
    color: gray;
    width: 90%;
    margin: 5%;
    padding: 0.7%;
}

.wd-list-div4{
    display: inline;
    font-weight: bold;
    color: gray;
    width: 90%;
    margin: 5%;
    padding: 0.7%;
}

.wd-list-div5{
    display: inline;
    font-weight: bold;
    color: gray;
    width: 90%;
    margin: 6%;
    padding: 0.7%;
}

.wd-img-class{
    width: 100%;
    height: "50px";
    margin-top: 5%;
}

.wd-p-tag-1{
    text-decoration-color: white;
    color: white;
    position: relative;
   position: relative;
   top: -85px;
   left: 25px;
}

.wd-tuits{
    list-style-type: none;
    text-align: left;
    width: 100%;
    margin: 1%;
}


.wd-tuits-div{
    width: 100%;
    height: 120px;
}

.wd-heading-tuits{
    color:gray;
}

.wd-left-inside-tuits{
    display: inline;
    float: left;
    width: 80%;
}
.wd-right-inside-tuits{
    display: inline;
    width: 20%;
}

.wd-tuit-text{
    text-align: left;
    font-weight: bold;
}

.wd-tuits_count{
    text-align: left;
    color:gray;

}

/* Bootstrap Styling */

/* New Bootstrap */

body {
    font-family: Arial;
    margin: 10px;
  }
  
  .wd-post-image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
  }
  
  .wd-input {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    margin-right: 12px;
    border: 0;
    font-size: 18px;
    background-color: rgb(231, 234, 238);
  }
  
  .wd-input-white {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    margin-right: 12px;
    border: 15;
    font-size: 18px;
    background-color:white;
    border-color: lightgray;
  }
  
  .btn-primary {
    background-color: black;
    color: white;
  }
  
  #tweet-button {
    background-color: #0d6efd;
  }
  
  .active-list-item {
    /* background-color: white; */
    color:black;
  }
  
  .wd-nav-bar{
    font-weight: bold;
    color: rgb(110, 118, 125);
  }
  
  .wd-nav-tab{
    /* height: 30px; */
    padding: 0%;
    border: 0;
  }
  .wd-selected-tab{
    color: rgb(29, 161, 242);
    border-bottom: 4px solid rgb(29, 161, 242);
  }
  
  .wd-gray {
    color: rgb(110, 118, 125);
  }
  
  .wd-white{
    color: white;
  }
  
  .who-to-follow {
    background-color: rgb(231, 234, 238);
    border-radius: 20px;
    /* padding: 10px;
    margin: 10px; */
  }
  
  .wd-gray-border{
  border-color: lightgrey;
  }